body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.its-night {
  background-color: #45474b;
}
img {
  height: 250px;
  width: 250px;
  margin: 24px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider {
  position: relative;
  height: 80px;
  width: 240px;

  border-radius: 42px;
  transition: 2s ease all;
  background-color: #fff;
  background-color: grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.night {
  background-color: #fff;
}
.circle {
  position: absolute;
  height: 65px;
  width: 65px;
  border-radius: 50%;

  background-color: #45474b;
  top: 9%;
  left: 4%;
  transition: right 1s ease;
}
.circle-night {
  height: 65px;
  width: 65px;
  border-radius: 50%;

  background-color: white;
  position: absolute;
  top: 9%;
  right: 4%;
  transition: left 1s ease;
}
h2 {
  font-family: sans-serif;
  margin: 36px 0px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
}
.night-h1 {
  color: white;
}
